/.ipynb_checkpoints
/accounts.csv
/analysis.py
/Ecommerce_sales_analytics
/ecommerce_sales_analytics_dataset.csv
/Employeers.csv
/hello.py
/list.py
/mtcars.csv
/netflix_titles.csv
/product sales.csv
/product sales.xlsx
/sum.py
/test.py